/*body {
    background-color: #69e611;
}*/
:root{
    color:rgb(14, 87, 87)
}
body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

img{
   width: auto;
   height: auto; 
   border: 100px soild black;
   border-radius: 50%;
   aspect-ratio: 1;
   object-fit: cover;
}

}
h1{
    color:rgb(39, 21, 138);
    text-align: center;
    font-size: auto;
}
h2{
    color: rgb(226, 17, 146);
}
